<footer class="footer">
  <div class="container footer-content">
    <div class="footer-brand">
      <mat-icon>movie</mat-icon>
      <span class="headline-font">CineSnap</span>
    </div>
    
    <div class="footer-contact">
      <a href="mailto:contact@cinesnap.com" class="contact-link">
        <mat-icon>email</mat-icon>
        contact@cinesnap.com
      </a>
      <span class="divider">|</span>
      <a href="tel:+1234567890" class="contact-link">
        <mat-icon>phone</mat-icon>
        +1 (234) 567-890
      </a>
    </div>
    
    <div class="footer-social">
      <a href="#" class="social-link">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="#" class="social-link">
        <mat-icon>twitter</mat-icon>
      </a>
      <a href="#" class="social-link">
        <mat-icon>instagram</mat-icon>
      </a>
    </div>
  </div>
  
  <div class="footer-bottom">
    <div class="container">
      <p>&copy; {{ currentYear }} CineSnap. All rights reserved.</p>
    </div>
  </div>
</footer>